<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matLine>{{comment.comment}}</p>
        <p matLine>{{comment.rating}} Stars</p>
        <p matLine>
          <span> -- {{comment.author}} {{comment.date | date}}</span> </p>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid">
        <p mat-line>{{commentForm.value.comment}}</p>
        <p mat-line>{{commentForm.value.rating}} Stars</p>
        <p mat-line>--{{commentForm.value.name}}  <span></span></p>
      </mat-list-item>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="half-width"
                              color="{{ formErrors.author ? 'warn': 'primary' }}">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-hint>
              <span [hidden]="(!formErrors.author)">{{formErrors.author}}</span>
            </mat-hint>
          </mat-form-field>
            <mat-slider step="1" thumbLabel tickInterval="1" min="0" max="5"  formControlName="rating" value="rating" >
            </mat-slider>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          </mat-form-field>
        </p>
        <button (click)="onSubmit() "type="submit" mat-button class="background-primary text-floral-white"
                [disabled]="commentForm.invalid">Submit</button>
      </form>
    </mat-list>
  </div>
  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>